.title {
  text-align: center;
}

.content {
  text-align: center;
  color: blue;
}

.date {
  text-align: center;
  color: blue;
  font-size: 40px;
}

.time {
  text-align: center;
  color: blue;
  font-size: 60px;
}
