#todoList {
  border: 10px;
  border-color: darkgrey;
}

ul {
  border: 5px;
}

.list {
  width: 50%;
  padding: 0 auto;
}

li {
  text-align: left;
}

.centerItem {
  text-align: center;
}
.leftItem {
  text-align: left;
}
.rightItem {
  text-align: right;
}

textarea {
  width: 270px;
  height: 160px;
}

.gray {
  color: darkgray;
}
